<launch>
    <include file="$(find imu_bno055)/launch/imu.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    <node name="laserscan_processor" pkg="my_robot_control" type="laserscan_processor" output="screen" />
    <node name="kalman_filter" pkg="my_robot_control" type="kalman_filter" output="screen"/>
</launch>