<launch>
    <!-- Start the sensors-->
    <include file="$(find gabby_imu)/launch/imu.launch" />
    <include file="$(find gabby_lidar)/launch/rplidar.launch" />
    <node name="laserscan_converter" pkg="gabby_control" type="laserscan_converter" output="screen"/>
    
    <!-- SLAM processes-->
    <node ns="slam" name="kalman_filter" pkg="gabby_control" type="kalman_filter" output="screen"/>

</launch>