<launch>
    <!-- Start the sensors-->
    <include file="$(find gabby_imu)/launch/imu.launch" />
    <include file="$(find gabby_lidar)/launch/rplidar.launch" />
    <node name="laserscan_converter" pkg="gabby_control" type="laserscan_converter" output="screen"/>
    <!-- <node pkg="pcl_ros" type="convert_pointcloud_to_image" name="pcl_to_image" output="screen">
        <remap from="input" to="/pointCloud"/>
        <remap from="output" to="/image"/>
    </node> -->
    
    <node ns="slam" name="kalman_filter" pkg="gabby_control" type="kalman_filter" output="screen"/>

</launch>